/* Global Styles */
body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

header {
	background: #360033;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #0b8793, #360033);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #0b8793, #360033); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	color: #fff;
	padding: 20px;
}

h1 {
	margin: 0;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
}

nav li {
	margin: 0 10px;
}

nav a {
	color: #fff;
	text-decoration: none;
}

main {
	padding: 20px;
}

h2 {
	margin: 0;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

.book-container {
	display: flex;
	flex-wrap: wrap;
}

.book {
	margin: 71px;
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 10px;
	background-color: rgba(137, 134, 134, 0.6)
}
.course {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

a {
    display: block;
    margin-top: 10px;
	
}
.button {
	position:relative; left:91.5%; top:2px;
	border-radius:32px 32px;
	background-color: #131413;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
  }
  .button:hover{
	background-color: #3f403f;
  }
  span {
	background-color: rgb(66, 68, 67);
	border: 16px;
	border-radius:43%;
	content: "\002B";
	font-size: 25.5px;
  }

  .profile-photo {
	width: 100px;
	height: 100px;
	border-radius: 50%;
  }

  .header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.profile-photo {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 5px;
}

.user-info {
	display: flex;
	align-items: center;
}

.user-name {
	margin: 0;
	margin-left: 10px; /* Adjust the value to increase or decrease the space */
}

.search-form {
display: flex;
align-items: center;
gap: 5px; /* Adjust the value to increase or decrease the space */
}

.search-input {
flex: 1;
padding: 8px 10px; /* Adjust the padding as needed */
font-size: 16px;
border: 1px solid #ccc;
border-radius: 4px;
height: 20px; /* Adjust the height to match the search-submit button */
width: 400px;
}

.search-submit {
padding: 8px 15px; /* Adjust the padding as needed */
font-size: 16px;
background-color: #4CAF50;
color: white;
border: none;
border-radius: 4px;
height: 36px; /* Adjust the height to match the search-input box */
}

.search-submit:hover {
background-color: #45a049;
}